*{
}

.nav {
    background-color: pink;
    margin: 0px;
    position: sticky;
    top:0px;
    left:0px;
    right:0px;
    

}
.nav ul li{
    display:inline-block;
    list-style: none;
    padding:8px;
    margin:4px;
}
.main{
    background-color: rgb(140, 235, 140);
    border: 2px solid rgb(5, 87, 5);
    height: 500px;
}
.first{
    display: inline-block;
    border:2px solid orange;
    width:650px;
    height:400px;
    margin: 10px;
    margin-top: 46px;
    margin-left: 60px;
    background-color: rgb(240, 87, 240);
}
.secand{
    display: inline-block;
    border:2px solid orange;
    width:650px;
    height:400px;
    margin:10px;
    margin-top: 46px;
    margin-left: 30px;
    background-color:rgb(240, 87, 240); ;
}
.cantainer{
    border: 2px solid black;
    height:300px;
    border-radius: 150px;
    margin:20px;
    background-color: pink;
    text-align:center;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: right;
    position:fixed;
    

}
footer{
    border: 2px solid red;
    background-color: rgb(244, 73, 73);
    text-align: center;
    font-weight: bold;
}
